.warriorsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem 0 5rem;

    .loader-container {
        height: 60vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}