.navbar {
    .mr-auto{
        position: absolute;
        right: 4rem;

        .navLink {
            font-size: 2rem;
            margin: 2rem 1rem 0 1rem;
            color: #4e4376 !important;
            transition: .3s;
    
            &:hover {
                color: $stellarPurple !important;
            }
        }
    }
}

.navbar-dark {
    background-color: black !important;
}
