@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Tammudu 2', cursive;
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

a {
    text-decoration: none !important;
}

$stellarPurple: #6F41F8;
$stellarLighterPurple: #8f6afd;

.btn-primary {
    margin: 1rem;
    font-size: 1.5rem;
    padding: .25rem;
}